{{/* Go Template */}}
{{- /*
	Renders a menu for the given menu ID.

	@context {page} page The current page.
	@context {string} menuID The menu ID.

	@example: {{ partial "menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}
{{- with index site.Menus $menuID }}
	<nav class="navbar navbar-expand-lg fira-sans-regular py-3">
		<div class="container">
				<h2 class="text-body-emphasis d-inline-block align-middle">
					{{ site.Title }}
				</h2></a
			>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon fs-6"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto mb-lg-0 roboto-flex-regular">
					{{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
				</ul>
			</div>
		</div>
	</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
	{{- $page := .page }}
	{{- range .menuEntries }}
		{{- $linkAttrs := dict "class" "nav-link" "href" .URL }}
		{{- if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
			{{- $linkAttrs = merge $linkAttrs (dict "class" "nav-link active" "aria-current" "page") }}
		{{- end }}
		{{- $name := .Name }}
		<li class="nav-item px-1">
			<a
				{{ range $k, $v := $linkAttrs }}
					{{- with $v }}
						{{ printf " %s=%q" $k $v | safeHTMLAttr }}
					{{- end }}
				{{- end -}}
				>{{ $name }}</a
			>
		</li>
	{{- end }}
{{- end }}
